<meta name="description" content="Samuel Pedraza's website: I'm a web developer with a lot of different interests. I post about my thoughts, articles I've written, and some more stuff.">
<meta charset="utf-8">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="pb-3">Samuel Pedraza</h1>			
		</div>
	</div>
	<div class="row">
		<div class="col-12 pb-3">
			<%= image_tag('samuelpedraza.jpg', height: '165', alt: "Samuel Pedraza web developer programmer Sam")  %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>About Samuel Pedraza</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>I am a web developer with a strong interest in cryptocurrency, theology, and deconstructing subjects.</p>
			<p>I occasionally speak at my local church. I read as much as I can.</p>
		</div>
		<div class="col-md-12">
			<p>View my <a href="/posts">blog</a> for some cool stuff.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>More about Samuel Pedraza</h3>	
			<ul>
				<li>
					<a href="/posts">
						Blog
					</a>
				</li>
				<li>
					<a href="https://github.com/Samuel-Pedraza">
						Github
					</a>
				</li>
				<li>
					<a href="https://twitter.com/samuel__pedraza">
						Twitter
					</a>
				</li>
				<li>
					<a href="mailto:samdpedraza@gmail.com">
						Email
					</a>
				</li>
				<li>
					<a href="https://docs.google.com/document/d/12t781j9MlT7JbrS_UEHeDdBZj_n14TkxDPCT6YYOUZ0/edit?usp=sharing">
						Resume
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Most Recent Blog Posts</h2>
		</div>
		<div class="col-md-12">
			<ul>
				<% @posts.reverse.each do |post| %>
					<li><%= link_to post.title, post %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "email": "mailto:samdpedraza@gmail.com",
      "image": "samuelpedraza.jpg",
      "jobTitle": "Web Developer",
      "name": "Samuel Pedraza",
      "memberOf": "Libertarian Party",
      "url": "http://www.samuelpedraza.com",
	    "sameAs" : [ "https://www.facebook.com/samuel.pedraza.9",
      "https://www.linkedin.com/in/samuel-pedraza/",
      "https://twitter.com/samuel__pedraza",
      "https://www.instagram.com/sam_pedraza/",
      "https://codepen.io/samuel-pedraza/"]
    }
</script>
